<!-- login.component.html -->
<div class="login-container">
  <h2>Login</h2>
  <form>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-envelope"></i>
      </span>
      <input type="email" pInputText placeholder="Email"  name="email" required>
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" pPassword placeholder="Password"  name="password" required>
    </div>
    <button type="submit" pButton label="Login" class="p-button-success"></button>
  </form>
</div>
