<div class="container">
  <form class="login-form">
    <h2 class="login-text" >Login</h2>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" />
    </div>
    <div class="error-msg">
      Invalid Credentials !
    </div>
    <button>Submit</button>
    <div class="register-link">
      <span>Don't have an account?</span>
      <a (click)="navigateToRegister()" >Register</a>
    </div>
  </form>
</div>