<div class="container">
  <form [formGroup]="registerForm"  class="register-form">
    <h2 class="register-text">Register</h2>
    <div class="input-group">
      <label for="email">Email</label>
      <input formControlName = "email"  type="email" id="email" />
      <small class="error-msg" *ngIf="isFieldValid('email')" >Enter email</small>
    </div>
    <div class="input-group">
      <label for="username">Username</label>
      <input formControlName = "username" type="text" id="username" />
      <small class="error-msg" *ngIf="isFieldValid('username')" >Enter username</small>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input formControlName = "password" type="password" id="password" />
      <small class="error-msg" *ngIf="isFieldValid('password')" >Enter password</small>
    </div>
    <div *ngIf="somethingWentWrong" class="error-msg">
      Something went wrong
    </div>
    <button (click)="onSubmit()" [disabled]="registerForm.invalid" class="register-button">Register</button>
  </form>
</div>